<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
   <Properties>
      <Property name="SystemOutPattern">%highlight{%date{ISO8601} | %relative | %level | %threadName{1} | %logger{1} | %message%n}</Property>
      <Property name="FilePattern">%date{ISO8601} | %relative | %level | %threadName{1} | %logger{1} | %message%n</Property>
   </Properties>
   <Appenders>
      <File name="FullLogFile" fileName="log/full_log.log">
         <LevelRangeFilter minLevel="INFO" maxLevel="all" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="${FilePattern}"/>
      </File>
      <Console name="SystemOut" target="SYSTEM_OUT">
         <LevelRangeFilter minLevel="INFO" maxLevel="all" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="${SystemOutPattern}"/>
      </Console>
      <Syslog name="Syslog" format="RFC5424" host="localhost" port="514" protocol="UDP" appName="qqq" facility="LOCAL0">
         <LevelRangeFilter minLevel="INFO" maxLevel="all" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="${SystemOutPattern}"/>
      </Syslog>
   </Appenders>
   <Loggers>
      <Logger name="org.apache.log4j.xml" additivity="false">
      </Logger>
      <Root level="all">
         <AppenderRef ref="SystemOut"/>
         <AppenderRef ref="Syslog"/>
      </Root>
   </Loggers>
</Configuration>
