<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
   <Appenders>
      <Console name="SystemOutAppender" target="SYSTEM_OUT">
         <LevelRangeFilter minLevel="ERROR" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%highlight{%date{ISO8601} | %level | %threadName | %logger{1} | %message%n}"/>
      </Console>
      <Syslog name="SyslogAppender" format="RFC5424" host="localhost" port="514" protocol="UDP" appName="qqq" facility="LOCAL0">
         <LevelRangeFilter minLevel="ERROR" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout>
            <!-- leaving date out - syslog has a timestamp. -->
            <pattern>{"level":"%level","uptime":%relative,"thread":"%threadName","class":"%logger{1}","log":%message}%n</pattern>
         </PatternLayout>
      </Syslog>
      <File name="LogFileAppender" fileName="log/qqq.log">
         <LevelRangeFilter minLevel="ERROR" maxLevel="all" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%date{ISO8601} | %relative | %level | %threadName | %logger{1} | %message%n"/>
      </File>
   </Appenders>
   <Loggers>
      <Logger name="org.apache.log4j.xml" additivity="false">
      </Logger>
      <Logger name="org.mongodb.driver" level="WARN">
      </Logger>
      <Logger name="org.eclipse.jetty" level="INFO">
      </Logger>
      <Logger name="io.javalin" level="INFO">
      </Logger>
      <!-- c3p0 -->
      <Logger name="com.mchange.v2" level="INFO">
      </Logger>
      <Logger name="org.quartz" level="INFO">
      </Logger>
      <Root level="all">
         <AppenderRef ref="SystemOutAppender"/>
         <AppenderRef ref="SyslogAppender"/>
         <!-- <AppenderRef ref="LogFileAppender"/> -->
      </Root>
   </Loggers>
</Configuration>
